{% extends 'quiz/base.html' %}
{% block head %}
   {% load staticfiles %}
{% endblock%}

{% block body %}

   <div class="container-fluid work" id="work" ng-controller="UserLoginController">
      <div class="container">
         <h3><label><i class="fa fa-users"></i> Leader Board</label></h3>
         <div class="row">
           <div class="col-md-12">
             <div class="grid simple">
               <div class="grid-body no-border" ng-controller="LeaderBoardController"><br>

                  <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                     <label>City</label>
                     <select class="form-control" ng-model="selectedCity" 
                       ng-options="x.name for x in cities" ng-change="citySelected()">
                       <option value="">-- Select City --</option>
                     </select>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                     <label>School</label>
                     <select class="form-control" ng-model="selectedSchool" 
                       ng-options="x.name for x in schools" ng-change="schoolSelected()">
                       <option value="">-- Select School --</option>
                     </select>
                  </div>

                 <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                     <label style="float:right">Top 5 Students </label><br><br>
                     <div class="form-group">
                       <table class="table" >
                         <thead>
                           <tr>
                             <th class="text-center">Sl.No.</th>
                             <th class="text-center">Student name</th>
                             <th class="text-center">Test name</th>
                             <th class="text-center">School</th>
                             <th class="text-center">City</th>
                             <th class="text-center">Held On</th>
                             <th class="text-center">Score</th>
                           </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="x in results ">
                               <td class="text-center">{[{ $index+1 }]}</td>
                               <td class="text-center">{[{ x.profile_details[0].name }]}</td>
                               <td class="text-center">{[{ x.quiz_details.name }]}</td>
                               <td class="text-center">{[{ x.profile_details[0].school_details.name }]}</td>
                               <td class="text-center">{[{ x.profile_details[0].city_details.name }]}</td>
                               <td class="text-center">{[{ x.quiz_details.starts | date:'yyyy-MM-dd HH:mm:ss'}]}</td>
                               <td class="text-center">{[{ x.score}]}</td>
                             </tr>
                             <tr ng-if="results.length==0">
                               <td colspan="7">No one attended the test</td>
                             </tr>
                           </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
     </div>
      </div>
   </div>
{% endblock%}