{% extends 'quiz/base.html' %}
{% block head %}
   {% load staticfiles %}
{% endblock%}

{% block body %}

   <div class="container-fluid work" id="work" ng-controller="QuizController">
      <div class="container">
         <div class="row" id="starts">
            <div class="col-md-12 col-sm-12 col-xs-12 work-list">
               <h3><i class="fa fa-question-circle"> Quizes Question</i></h3>
            </div>

            <div ng-repeat="x in quizes ">
               <div class="col-md-4 col-sm-6 col-xs-12 work-space quiz-box">
                  <a href="images/story1.png" data-lightbox="image-1">
                     <h4 class="text-center">{[{x.name}]}</h4>
                  </a>{[{now | date : 'yyyy-MM-dd HH:mm:ss' : IST}]}
                  <label>Start on: </label> {[{ x.starts | date:'yyyy-MM-dd HH:mm:ss' }]}<br>
                  <label>Duration: </label> {[{ x.duration }]}<br>
                  {% if '{[{x.starts }]}' > '{[{now | date : "yyyy-MM-dd HH:mm:ss" : IST}]}' %}
                     <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#addContact" ng-click="start_test(x.id)"> Start</button>
                  {% endif %}
               </div>
            </div> 
            
         </div>
      </div>
   </div>
{% endblock%}