{% extends 'quiz/base.html' %}
{% block head %}
	{% load staticfiles %}
{% endblock%}

{% block body %}

	<div class="container-fluid work" id="work" ng-controller="UserLoginController">
		<div class="container">
			<div class="row" id="starts">
				<div class="col-md-12 col-sm-12 col-xs-12 work-list">
					<form class="form-signin"  method="post">{% csrf_token %}
						<h2 class="text-center portfolio-text">Log In/Sign Up</h2>
						<div class="col-md-4 col-sm-6 col-xs-12 work-space">
							<input type="text" name="username" class="form-control" placeholder="Username" required autofocus ng-model="data.username">
			                <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="data.password"><br>
							<button class="btn btn-lg  btn-block" type="submit" ng-click="login(data)">
								<a href="#">
		                			<h3>Log In</h3>
		                		</a>
		                	</button>
		                	{{ errors }}
		                	{{user}}
		                	<!-- {% if errors %}
			                	<div class="fieldWrapper">
								    {{ errors }}
								</div>
							{% endif %} -->
						</div>
					</form>
					<div class="vr">&nbsp;</div>
					<form class="form-signup" method="post">{% csrf_token %}
						<div class="col-md-8 col-sm-6 col-xs-12 work-space">
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>Name
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="text" name="name" class="form-control" placeholder="Name" required >
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>School
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="text" name="school" class="form-control" placeholder="School" required >
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>Standard
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="text" name="standard" class="form-control" placeholder="standard" required >
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>City
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="text" name="city" class="form-control" placeholder="City" required >
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>Username
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-space">
								<label>Password
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12 work-space">
								<input type="password" name="password" class="form-control" placeholder="Password" required>
							</div>
							<input type="hidden" class="form-control" name="signup"/>
			                <div class="col-md-12 col-sm-6 col-xs-12 work-space">
			                	<button class="btn btn-lg  btn-block" type="submit">
									<a href="#">
				                		<h3>Sign Up</h3>
				                	</a>
				                </button>
			                </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock%}