{% extends 'quiz/base.html' %}
{% block head %}
   {% load staticfiles %}
{% endblock%}

{% block body %}

   <div class="container-fluid work" id="work" ng-controller="StaffProfileController">
      <div class="container">
         <h3><label><i class="fa fa-book"></i> Students Performance</label></h3>
         <div class="row">
           <div class="col-md-12">
             <div class="grid simple">
               <div class="grid-body no-border"><br>
                 <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <table class="table" >
                         <thead>
                           <tr>
                             <th class="text-center">Sl.No.</th>
                             <th class="text-center">Student name</th>
                             <th class="text-center">Test name</th>
                             <th class="text-center">Held On</th>
                             <th class="text-center">Your Score</th>
                           </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="x in quizes ">
                               <td class="text-center">{[{ $index+1 }]}</td>
                               <td class="text-center">{[{ x.profile_details[0].name }]}</td>
                               <td class="text-center">{[{ x.quiz_details.name }]}</td>
                               <td class="text-center">{[{ x.quiz_details.starts | date:'yyyy-MM-dd HH:mm:ss'}]}</td>
                               <td class="text-center">{[{ x.score}]}</td>
                             </tr>
                             <tr ng-if="quizes.length==0">
                               <td colspan="7">No students taken the test</td>
                             </tr>
                           </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
     </div>
      </div>
   </div>
{% endblock%}